# Local development files
/.env
/.dev
/.forge

# Publishing
/dist

# Bundled assets
**/static/dist

# Python
/.venv
__pycache__/
*.py[cod]
*$py.class

# JS
/node_modules

# OS files
.DS_Store

/quickstart-test
