# Because it's a "custom" settings file, we have to use
# `isort` instead of `settings`
[isort]
known_django=django
sections=FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
extend_skip=migrations
profile=black
