{% extends "base.html" %}

{% load widget_tweaks %}

{% block html_title %}Forgot your password?{% endblock %}

{% block content %}
<div class="flex flex-col w-full max-w-md mx-auto my-6 sm:mt-24">
    <div class="p-8 bg-white rounded shadow">
        <h1 class="text-3xl">Forgot your password?</h1>
        <p class="mt-2 text-sm text-gray-700">Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="post" class="mt-8">
            {% csrf_token %}
            {{ form }}
            <button class="block w-full px-4 py-2 mt-8 text-white bg-blue-600 rounded blue:bg-blue-700" type="submit">Reset my password</button>
        </form>
    </div>
</div>
{% endblock %}
