{% extends "base.html" %}

{% load widget_tweaks %}

{% block html_title %}Change your password{% endblock %}

{% block content %}
<div class="flex flex-col w-full max-w-md mx-auto my-6 sm:mt-24">
    {% if validlink %}

    <div class="p-8 bg-white rounded shadow">
        <h1 class="text-3xl">Choose a new password</h1>

        <form method="post" class="mt-8">
            {% csrf_token %}
            {{ form }}
            <button class="block w-full px-4 py-2 mt-8 text-white bg-blue-600 rounded blue:bg-blue-700" type="submit">Set password</button>
        </form>
    </div>

    {% else %}

    <div class="text-center">
        <h1 class="text-3xl font-semibold text-center text-gray-900">Reset link invalid</h1>
        <p class="mt-2 text-sm text-gray-700">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    </div>

    {% endif %}
</div>
{% endblock %}
