{% extends "base.html" %}

{% block html_title %}Password reset complete{% endblock %}

{% block content %}
<div class="w-full max-w-xl mx-auto my-6 sm:mt-24">
    <div class="text-center">
        <h1 class="text-3xl font-semibold text-center text-gray-900">Password reset complete</h1>
        <p class="mt-4 text-gray-700">
            Your password has been set. You may go ahead and log in now.
        </p>
        <a class="inline-block px-4 py-2 mt-6 text-white bg-blue-600 rounded blue:bg-blue-700" href="{% url 'login' %}">Log in</a>
    </div>
</div>
{% endblock %}
