{% extends "base.html" %}

{% block html_title %}Password reset{% endblock %}

{% block content %}
<div class="w-full max-w-xl mx-auto my-6 sm:mt-24">
    <div class="text-center">
        <h1 class="text-3xl font-semibold text-center text-gray-900">Password reset sent</h1>
        <p class="mt-4 text-gray-700">
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        <p class="mt-4 text-gray-700">
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
    </div>
</div>
{% endblock %}
